@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300&display=swap');

:root{
    --cor-fundo: #393E46;
    --cor-contraste: #222831;
    --cor-destaque: #FFD369;
    --cor-texto: #EEEEEE;

    --fonte-principal:'Josefin Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color:var(--cor-fundo);
    color:var(--cor-texto);
}

.cabecalho{
    padding: 1rem 0 1rem 10%;
    background-color:var(--cor-contraste);
}

.cabecalho_menu{
    display: flex;
    gap: 1.5rem;
}

.cabecalho_menu_link{
    font-family: var(--fonte-principal);
    font-weight: 300;
    font-size: 1.5rem;
    color:var(--cor-destaque);
    text-decoration:none;
}

.cabecalho_menu_link:hover{
    transition: 0.8s;
    box-shadow: inset 6rem 0 0 0 var(--cor-destaque);
    color: var(--cor-contraste);
}

.titulo-destaque{
    color: var(--cor-destaque);
}

.apresentacao{
    padding: 5% 10%;
    justify-content:space-between;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.apresentacao__conteudo{
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.apresentacao__conteudo__titulo{
    font-size: 1.8rem;
    font-family: var(--fonte-principal);
    font-weight: 300;
}

.apresentacao__conteudo__paragrafo{
    font-size: 1.6rem;
    font-family: var(--fonte-principal);
    font-weight: 100;
}

.apresentacao__links{
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.apresentacao__link__navegacao{
    background-color: var(--cor-contraste);
    display: flex;
    justify-content:space-around;
    width: 10rem;
    text-align: center;
    border-radius: 0.4rem 0;
    border: 0.1rem solid var(--cor-destaque);
    text-decoration: none;
    font-size: 1.3rem;
    padding: 0.4rem 0;
    color: var(--cor-destaque);
    font-family: var(--fonte-principal);
    font-weight: 600;
}

.apresentacao__link__navegacao:hover{
    border: 0.1rem solid var(--cor-contraste);
    transition: 1.3s;
    box-shadow: inset 20rem 0 0 0 var(--cor-destaque);
    color: #222831;
}

.logo_redes_sociais{
    border: none;
    border-radius: 0;
    width: 1.1rem;
    height: 1.1rem;
}

.apresentacao__imagem {
    height: auto;
    width: 40%;
    border-radius: 2rem 0;
    border: 0.17rem solid var(--cor-destaque);
}

.rodape{
    color:var(--cor-texto);
    background-color: var(--cor-contraste);
    padding: 1rem;
    margin-bottom: 0;
    text-align: center;
    font-size: 1.1rem;
    font-family: var(--fonte-principal);
    font-weight: 300;
}

@media(max-width: 800px){
    .cabecalho{
        text-align: center;
    }
    
    .apresentacao{
        flex-direction: column-reverse;
        padding: 1% 1%;
    }

    .apresentacao__conteudo{
        width: auto;
        font-size: 0.6rem;
    }

    .apresentacao__conteudo__titulo{
        font-size: 1.5rem;
    }
    
    .apresentacao__conteudo__paragrafo{
        font-size: 1.3rem;
    }

    .apresentacao__imagem {
        margin: 0.5rem;
        width: 40%;
    }

    .rodape{
        margin-top: 1rem;
    }
}


@media(max-width: 540px){
    .apresentacao{
        padding: 1.5% 1.5%;
        text-align:center;
    }

    .apresentacao__links{
        flex-direction: column;
        gap: 1rem;
    }

}